<div class="homepage">

  <div class="homepage-content">


    <div class="col-md-10 homepage-content-right">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag "slide1.png" %>
          </div>
          <div class="item">
            <%= image_tag "slide2.png" %>
          </div>
          <div class="item">
            <%= image_tag "slide3.jpg" %>
          </div>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only"><%= t "previous" %></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only"><%= t "next" %></span>
        </a>
      </div>

      <h1 class="page-header" id="electronics"><%= t ".hot_products" %></h1>
      <div class="clr"></div>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="phone">
          <div class="row">
            <% if @support.hot_products.any? %>
              <% @support.hot_products.each do |product| %>
                <div class="col-sm-6 col-md-3">
                  <div class="box">
                    <p class="box-img">
                      <a href="#">
                        <img src="https://api.fnkr.net/testimg/200x170" alt="">
                      </a>
                    </p>
                    <h3 class="box-title">
                      <a href="#"><%= product.name %></a>
                    </h3>
                    <p class="box-price" data-toggle="tooltip" data-placement="bottom" title="">
                      <%= product.price %> ₫
                    </p>
                  </div>
                </div>
              <% end %>
            <% else %>
              <h4 class="no-products"><%= t ".no_products" %></h4>
            <% end %>
          </div>
        </div>
      </div>

      <h1 class="page-header" id="electronics"><%= t ".new_products" %></h1>
      <div class="clr"></div>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="phone">
          <div class="row">
            <% @support.new_products.each do |product| %>
              <div class="col-sm-6 col-md-3">
                <div class="box">
                  <p class="box-img">
                    <a href="#">
                      <img src="https://api.fnkr.net/testimg/200x170" alt="">
                    </a>
                  </p>
                  <h3 class="box-title">
                    <a href="#"><%= product.name %></a>
                  </h3>
                  <p class="box-price" data-toggle="tooltip" data-placement="bottom" title="">
                    <%= product.price %> ₫
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <h1 class="page-header" id="electronics"><%= t ".recent_viewed_products" %></h1>
      <div class="clr"></div>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="phone">
          <div class="row">
            <% if @recent_viewed_products.any? %>
              <% @recent_viewed_products.each do |product| %>
                <div class="col-sm-6 col-md-3">
                  <div class="box">
                    <p class="box-img">
                      <a href="#">
                        <img src="https://api.fnkr.net/testimg/200x170" alt="">
                      </a>
                    </p>
                    <h3 class="box-title">
                      <a href="#"><%= product.name %></a>
                    </h3>
                    <p class="box-price" data-toggle="tooltip" data-placement="bottom" title="">
                      <%= product.price %> ₫
                    </p>
                  </div>
                </div>
              <% end %>
            <% else %>
              <h4 class="no-products"><%= t ".no_products" %></h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
