<% provide :title, t(".cart") %>

<div class="col-md-8 customer-cart">
  <h3><%= t ".your_cart" %></h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="product-img-title"></th>
        <th></th>
        <th class="product-price-title"><%= t ".buy_price" %></th>
        <th class="product-quantity-title"><%= t ".quantity" %></th>
      </tr>
    </thead>
    <tbody>
      <% if @product_carts.any? %>
        <% @product_carts.each do |product, quantity| %>
          <tr>
            <td>
              <% if product.image.present? %>
                <%= image_tag product.image.url %>
              <% else %>
                <img src="https://api.fnkr.net/testimg/120x120/333/FFF/?text=img+placeholder">
              <% end %>
            </td>
            <td>
              <%= link_to product.name, product_path(product), {class: "product-name"} %>
              <br>
              <%= link_to "", "/cart/#{product.id}",
                method: :delete, data: {confirm: t("you_sure")},
                class: "btn btn-danger fa fa-trash-o" %>
            </td>
            <td class="product-price"><%= number_to_currency product.price %></td>
            <td>
              <input type="number" min="1" class="form-control" value="<%= quantity %>" data="<%= product.id %>" class="item_quantiy">
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr><td colspan="4" class="no-data"><%= t "no_products" %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-2">
  <div id="nav_test" data-spy="affix" class="visible-lg visible-md">
    <%= link_to t(".checkout"), new_order_path, class: "btn btn-danger create-order" %>
  </div>
</div>
