<% provide :title, t(".my_requests") %>

<h1><%= t ".my_requests" %></h1>

<table class="table table-hover table-striped user-view-requests">
  <thead>
    <tr>
      <th><%= t "table_index" %></th>
      <th><%= t ".content" %></th>
      <th><%= t ".created_at" %></th>
      <th><%= t ".status" %></th>
    </tr>
  </thead>
  <tbody>
    <% if @requests.any? %>
      <%= render @requests %>
    <% else %>
      <tr><td colspan="4" class="no-data"><%= t "no_data" %></td></tr>
    <% end %>
  </tbody>
</table>

<%= paginate @requests, theme: "twitter-bootstrap-4" %>
