<tr>
  <td>
    <%= index_for order_counter, @orders.current_page,
      Settings.user.orders_history.per_page %>
  </td>
  <td><%= order.id %></td>
  <td><%= l order.created_at, format: :long %></td>
  <td><%= number_to_currency order.total_money %></td>
  <td>
    <%= order.order_details.group("order_id").sum(:quantity).first[1] %>
  </td>
  <td><%= order.shipping_address %></td>
  <td class="no-data">
    <span class="order-<%= order.status %>"><%= order.status %></span>
  </td>
</tr>
