<tr id="<%= dom_id(category) %>">
  <td></td>
  <td>
    <% if category.depth > 0 %>
      <%= "-" * category.depth %>
      <%= category.name %>
    <% else %>
      <%= category.name %>
    <% end %>
  </td>
  <td><%= category.products.size %></td>
  <td><%= category.description %></td>
  <td class="align-text-center">
    <%= link_to admin_category_path(category), class: "text-normal btn-edit-category" do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
  </td>
  <td class="align-text-center">
    <%= link_to admin_category_path(category), class: "text-danger btn-delete-category" do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </td>
</tr>
