<%= provide :title, t("category_list") %>
<h1><%= t "category_list" %></h1>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t ".add_category" %></h3>
    </div>
    <div class="panel-body">
      <%= render "category_form" %>
      <br>
    </div>
  </div>
</div>

<div class="col-md-6">
  <%= search_form_for [:admin, @search] do |f| %>
    <div class="col-md-12 row">
      <%= f.text_field :name_cont, class: "form-control", autofocus: true,
        placeholder: t(".admin_categories_search") %>
    </div>
    <br><br>
    <div class="col-md-2 row">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="col-md-12">
  <table class="table table-striped table-hover">
    <thead>
      <th><%= t "table_index" %></th>
      <th><%= t ".name" %></th>
      <th><%= t ".product" %></th>
      <th><%= t "description" %></th>
      <th><%= t "edit" %></th>
      <th><%= t "delete" %></th>
    </thead>
    <tbody id="category-list">
      <% if @categories.any? %>
        <% @index = 0 %>
        <%= render @categories %>
      <% else %>
        <tr><td colspan="6" class="no-data"><%= t "no_data" %></td></tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @categories, theme: "twitter-bootstrap-4" %>
</div>
