<%= provide :title, t("category_list") %>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t ".menu" %></h3>
      </div>
      <div class="panel-body">
        <%= render "category_form" %>
        <br>
      </div>
    </div>

  </div>

  <div class="col-md-8">
    <h1><%= t "category_list" %></h1>
    <table class="table table-bordered table-hover">
      <thead>
        <th><%= t ".name" %></th>
        <th><%= t ".product" %></th>
        <th><%= t "description" %></th>
        <th><%= t ".action" %></th>
      </thead>
      <tbody id="category-list">
        <%= render @categories %>
      </tbody>
    </table>
  </div>
</div>
