<%= form_for [:admin, product], url: admin_product_path(product) do |f| %>
  <div class="modal-body row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :category %>
        <%= f.select :category_id, options_for_select(
          @categories_leaf.collect{|cat|[cat.name, cat.id]},
          {class: "form-control"}) %>
      </div>
      <div class="form-group">
        <%= f.label :name %>:
        <%= f.text_field :name, class: "form-control", required: true%>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :price %>:
        <%= f.text_field :price, class: "form-control", required: true%>
      </div>
      <div class="form-group">
        <%= f.label :quantity %>
        <%= f.text_field :quantity, class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png",
          multipart: true  %>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <%= f.label :specifications %>:
      <%= f.fields_for :specifications do |builder| %>
        <%= render "specification_fields", f: builder %>
      <% end %>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <label><%= t ".description" %></label>
        <%= f.text_area :description, class: "form-control", required: true%>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit t(".save"), class: "btn btn-primary add-product"%>
  </div>
<% end %>
