<tr id="<%= dom_id(product) %>">
  <td><%= product.name %></td>
  <td><%= product.price %></td>
  <td><%= product.category.name %></td>
  <td>
    <%= link_to admin_product_path(product), class: "btn-edit-product" do %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>
    |
    <%= link_to admin_product_path(product), class: "btn-delete-product" do %>
      <i class="fa fa-times"></i>
    <% end %>
  </td>
</tr>
