<% provide :title, t(".manage_requests") %>

<h1><%= t ".manage_requests" %></h1>

<table class="table table-hover table-striped manage-requests">
  <thead>
    <tr>
      <th><%= t "table_index" %></th>
      <th><%= t ".username" %></th>
      <th class="content-title"><%= t ".content" %></th>
      <th><%= t ".created_at" %></th>
      <th><%= t ".status" %></th>
      <th><%= t ".update_status" %></th>
    </tr>
  </thead>
  <tbody>
    <% if @requests.any? %>
      <%= render @requests  %>
    <% else %>
      <tr><td colspan="6" class="no-data"><%= t "no_data" %></td></tr>
    <% end %>
  </tbody>
</table>

<%= paginate @requests, theme: "twitter-bootstrap-4" %>
