<% provide :title, t(".manage_users") %>

<h1><%= t ".manage_users" %></h1>

<div class="container col-md-6 col-md-offset-3">
  <%= search_form_for [:admin, @search] do |f| %>
    <div class="col-md-10 row">
      <%= f.text_field :name_cont, class: "form-control", autofocus: true,
        placeholder: t(".admin_users_search") %>
    </div>
    <div class="col-md-2 row">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<br><br><br>
<table class="table table-hover table-striped manage-users">
  <thead>
    <tr>
      <th><%= t "table_index" %></th>
      <th><%= t ".avatar" %></th>
      <th><%= t ".name" %></th>
      <th><%= t ".email" %></th>
      <th><%= t ".role" %></th>
      <th><%= t "delete" %></th>
      <th><%= t ".block" %></th>
    </tr>
  </thead>
  <tbody>
    <% if @users.present? %>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <td>
            <% params[:page] ||= "1" %>
            <%= create_index params[:page], index, Settings.admin.users_list.per_page %>
          </td>
          <td class="align-text-center"><%= gravatar_for user %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <% if user.admin? %>
            <td><span class="is_admin"><%= t ".admin" %></span></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          <% else %>
            <td><span><%= t ".memeber" %></span></td>
            <td class="align-text-center">
              <%= link_to "#", class: "btn btn-danger" do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
            <td class="align-text-center">
              <%= link_to "#", class: "btn btn-info" do %>
                <span class="glyphicon glyphicon-lock"></span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="7" class="no-data"><%= t "no_data" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users, theme: "twitter-bootstrap-4" %>
