<% provide :title, t(".manage_users") %>

<h1><%= t ".manage_users" %></h1>

<div class="container col-md-6 col-md-offset-3">
  <%= search_form_for [:admin, @search] do |f| %>
    <div class="col-md-10 row">
      <%= f.text_field :name_cont, class: "form-control", autofocus: true,
        placeholder: t(".admin_users_search") %>
    </div>
    <div class="col-md-2 row">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<br><br><br>
<table class="table table-hover table-striped manage-users">
  <thead>
    <tr>
      <th><%= t "table_index" %></th>
      <th><%= t ".avatar" %></th>
      <th><%= t ".name" %></th>
      <th><%= t ".email" %></th>
      <th><%= t ".role" %></th>
      <th><%= t "delete" %></th>
      <th><%= t ".block" %></th>
    </tr>
  </thead>
  <tbody>
    <% if @users.present? %>
      <%= render @users %>
    <% else %>
      <tr>
        <td colspan="7" class="no-data"><%= t "no_data" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users, theme: "twitter-bootstrap-4" %>
