<div class="col-md-12">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              <% if @product.image? %>
                <%= image_tag @product.image.url %>
              <% else %>
                <img src="https://api.fnkr.net/testimg/200x170/00CED1/FFF/?text=img+placeholder">
              <% end %>
            </div>
          </div>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title"><%= @product.name %></h3>
          <div class="rating">
            <%= rating_for @product, "quality", imdb_avg: true,
              disable_after_rate: true, enable_half: true %>
          </div>
          <p class="product-description"><%= @product.description %></p>
          <h4 class="price"><%= t ".current_price" %>: <span><%= number_to_currency @product.price %></span></h4>
          <div class="action">
            <div class="row">
              <div class="col-md-4">
                <label for="quantity"><%= t "quantity" %></label>
                <input id="item_quantity" value="1" type="number" name="quantity" min="1" class="form-control">
              </div>
            </div>
            <br>
            <button class="add-to-cart btn btn-default" data="<%= @product.id %>" type="button"><%= t ".add_to_cart" %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1><%= t ".specification" %></h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t ".feature_name" %></th>
        <th><%= t ".feature_value" %></th>
      </tr>
    </thead>
    <tbody>
      <% if @specifications.any? %>
        <% @specifications.each do |specification| %>
          <tr>
            <td class="col-md-4 title-bold">
              <%= specification.feature_name %>
            </td>
            <td  class="col-md-8">
              <%= specification.feature_value %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr><td colspan="2" class="no-data"><%= t "no_data" %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-12" id="comments">
  <%= render @comments %>
</div>

<div class="col-md-12">
  <% if user_signed_in? %>
    <h2><%= t ".write_comment" %></h2>
    <%= form_for [@product, @product.comments.new], method: :post, remote: true do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit t(".comment"), class: "btn btn-primary" %>
      </div>
    <% end %>
  <% else %>
    <%= t ".login_to_comment" %>
  <% end %>
</div>
