<div class="clr"></div>
<footer>
  <div class="jumbotron">
    <div class="container">
      <div class="col-md-4">
        <%= t "fake_para" %>
      </div>
      <div class="col-md-8">
        <%= link_to t("help"), pages_help_path %> |
        <%= link_to t("about"), pages_about_path %> |
        <%= link_to t("contact"), pages_contact_path %>
        <p><%= t "fake_para" %></p>
      </div>
    </div>
  </div>
</footer>
