<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= favicon_link_tag %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/admin_header" %>
    <div class="admin-body-wrapper">
      <%= render "layouts/admin_menu_bar" %>
      <div class="col-md-10 admin-content">
        <div class="flash-text">
          <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>
    <%= render "layouts/admin_footer" %>
  </body>
</html>
