<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= favicon_link_tag %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/admin_header" %>
    <%= render "layouts/admin_menu_bar" %>
    <div class="col-md-10 admin-content">
      <%= yield %>
    </div>
    <%= render "layouts/admin_footer" %>
  </body>
</html>
