<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= favicon_link_tag %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body data-spy="scroll" data-target="#nav_test">
    <%= render "layouts/header" %>
    <div class="container">
      <%= render "layouts/menu_bar" %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
